body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
}

aside h3 {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 50px;
}

aside ul {
    list-style: none;
}

aside ul li, aside ul a {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
    text-decoration: none;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .main-content{
    color: #fff;
    float: left;
    text-align: center;
    width: 75%;
}